@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}

@* Codes inside of this body, will be injected into RenderSectionAsync inside of _Layout.cshtml
Writing the script codes here makes it possible to run the scripts after initiating libraries like Jquery, Bootstrap vs.
If scripts are put inside any other place on the cshtml, other than section Scripts here;
They will be executed on the RenderBody on _Layout, which means for example if you want to run a script related to JQuery,
this way you would be running the script without adding the Jquery library first, which causes the issue.
So basically adding the scripts other than here will cause the scripts not working properly.
*@
@section Scripts
{
    @* Makes it possible to run the scripts inside of _ValidationScriptsPartial, so libraries can be installed related to those scripts. *@
    @* With adding this script here, validation on Registration form is being done on the client side anymore,
     without sending a request to the server.*@
    @await Html.PartialAsync("PartialScripts/_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-primary">
            Şifre yenileme linki email adresinize gönderilecektir</div>

        <!-- TempData Success Message -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <!-- ViewBag Success Message -->
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        }

        @* General errors related to application(comes from ModelState) *@
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form asp-asp-controller="Home" asp-action="ForgetPassword" method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input value="bearzalk@gmail.com" class="form-control" asp-for="Email">
                <div id="emailHelp" class="form-text"></div>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <button type="submit" class="btn btn-primary">Şifre Sıfırla</button>
        </form>
    </div>
</div>

