@{
    ViewData["Title"] = "İletişim";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">İletişim</h1>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">Bize Ulaşın</h2>
            <form asp-action="SignUp" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">E-posta:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="message">Mesaj:</label>
                    <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">İletişim Bilgileri</h2>
            <ul class="list-unstyled">
                <li><strong>Adres:</strong> Çınar Mahallesi, 1. Cadde, No:1, İstanbul</li>
                <li><strong>Telefon:</strong> +90 123 456 78 90</li>
                <li><strong>E-posta:</strong> info@bpff.com.tr</li>
            </ul>
        </div>
    </div>
</div>

<div class="button-container">
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var message = '@TempData["Message"]';
            if (message) {
                alert(message); // Use a better alert/notification library if desired
            }
        });
    </script>
}