@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

@* This script is added here to check Password and Confirm Password matches.
*@
@section Scripts
{
    @* Makes it possible to run the scripts inside of _ValidationScriptsPartial, so libraries can be installed related to those scripts. *@
    @* With adding this script here, validation on Registration form is being done on the client side anymore,
     without sending a request to the server.*@
    @await Html.PartialAsync("PartialScripts/_ValidationScriptsPartial")
    @await Html.PartialAsync("PartialScripts/_ShowPasswordScriptsPartial")
}

<div class="row">
    <div class="col-md-6 offset-md-3">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        @* General errors related to application(comes from ModelState) *@
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form asp-asp-controller="Home" asp-action="ResetPassword" method="post">

            <div class="col-md-8 offset-md-4 mb-3">
                <h2>ŞİFRE SIFIRLAMA</h2>
            </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div class="col-md-8 d-flex"> @* d-flex puts textbox and button next to each other *@
                    <input asp-for="Password" class="form-control">
                    <button type="button" id="togglePassword" class="btn btn-outline-secondary">
                        <i class="fas fa-eye"></i> <!-- Eye icon -->
                    </button>
                </div>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="row mb-3">
                <label for="ConfirmPassword" class="col-md-4 col-form-label" asp-for="ConfirmPassword"></label>
                <div class="col-md-8 d-flex">
                    <input asp-for="ConfirmPassword" class="form-control">
                    <button type="button" id="toggleConfirmPassword" class="btn btn-outline-secondary">
                        <i class="fas fa-eye"></i> <!-- Eye icon -->
                    </button>
                </div>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifre Yenile</button>
                </div>
            </div>

        </form>
    </div>
</div>
