@model SignInViewModel

@{
    ViewData["Title"] = "SignIn";
}

@* Codes inside of this body, will be injected into RenderSectionAsync inside of _Layout.cshtml
Writing the script codes here makes it possible to run the scripts after initiating libraries like Jquery, Bootstrap vs.
If scripts are put inside any other place on the cshtml, other than section Scripts here;
They will be executed on the RenderBody on _Layout, which means for example if you want to run a script related to JQuery,
this way you would be running the script without adding the Jquery library first, which causes the issue.
So basically adding the scripts other than here will cause the scripts not working properly.
*@
@section Scripts
{
    @* Makes it possible to run the scripts inside of _ValidationScriptsPartial, so libraries can be installed related to those scripts. *@
    @* With adding this script here, validation on Registration form is being done on the client side anymore,
     without sending a request to the server.*@
    @await Html.PartialAsync("PartialScripts/_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>GİRİŞ YAP</h2>

        @* General errors related to application(comes from ModelState) *@
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        @* Context can access to app's whole requests and responses, so it can access to return url either.
        Givin returnUrl as a parameter here, means giving it as a parameter to SignIn action on HomeController.
        So when user clicks on competition application button while signed out state,
        there will be a return url, after signing in, the user will be directed to this returnUrl. *@
        <form asp-asp-controller ="Home" asp-action="SignIn" asp-route-returnurl="@Context.Request.Query["returnUrl"]" method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input value="bearzalk@gmail.com" class="form-control" asp-for="Email">
                <div id="emailHelp" class="form-text"></div>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input value="123456aR*" type="password" class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" for="RememberMe" asp-for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-outline-secondary btn-sm float-end" 
                    asp-controller="Home" asp-action="ForgetPassword">Şifremi Unuttum</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

