@model CompetitionApplicationUserViewModel

@{
    ViewData["Title"] = "CompetitionApplication";
}

@* Client side validation script *@
@section Scripts
{
    <script>
        @await Html.PartialAsync("PartialScripts/_ValidationScriptsPartial")
    </script>

    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            var selectedCountries = document.querySelectorAll('input[name="SelectedCountries"]:checked');
            var validationMessage = document.getElementById('validation-message');

            if (selectedCountries.length === 0) {
                event.preventDefault(); // Prevent the form from submitting
                validationMessage.textContent = "Please select at least one country!";
            } else if (selectedCountries.length > 3) {
                event.preventDefault(); // Prevent the form from submitting
                validationMessage.textContent = "Max 3 countries can be selected!";
            } else {
                validationMessage.textContent = "";
            }
        });
    </script>
}

@* @{
    // Takes Countries from get CompetitionApplication action method
    var countries = ViewBag.Countries as List<string>;
} *@

<h1 class="text-center">YARIŞMA BAŞVURUSU</h1>

<div class="container">

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    @* General errors related to application (comes from ModelState) for client side validation in the form *@
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

    <form asp-controller="SignedInUser" asp-action="CompetitionApplication" method="post">

        <b2 class="col-md-10 offset-md-1"><strong>CHOOSE COMPETITION CATEGORY</strong></b2>

        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="CompetitionCategory" value="Option1" class="form-check-input" id="option1" />
                    <label class="form-check-label" for="option1">SARI ŞEMSİYE ULUSAL UZUN METRAJ FİLM YARIŞMASI</label>
                </div>

                <div class="form-check form-check-inline mx-3">
                    <input type="radio" asp-for="CompetitionCategory" value="Option2" class="form-check-input" id="option2" />
                    <label class="form-check-label" for="option2">SARI ŞEMSİYE ULUSAL KISA METRAJ FİLM YARIŞMASI</label>
                </div>

                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="CompetitionCategory" value="Option3" class="form-check-input" id="option3" />
                    <label class="form-check-label" for="option3">DARIO MORENO</label>
                </div>

                @* Display validation errors for the specific field *@
                @* Errors comes from model *@
                <div class="text-danger mb-3">
                    <span asp-validation-for="CompetitionCategory"></span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <label>Select Countries:</label>
                <div id="country-selection" class="border border-secondary rounded p-3">
                    <div class="d-flex flex-wrap">
                        @for (int i = 0; i < Model.AllCountries.Count; i++)
                        {
                            <div class="col-md-4 col-lg-3 mb-3">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="country-@i"
                                           name="SelectedCountries"
                                           value="@Model.AllCountries[i]" />
                                    <label class="form-check-label" for="country-@i">@Model.AllCountries[i]</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @* error comes from JS script, generates error for client side validation *@
                <span class="text-danger" id="validation-message"></span>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <label for="ProductionYear" class="col-md-4 col-form-label" asp-for="ProductionYear"></label>
                <div class="col-md-8">
                    <input asp-for="ProductionYear" class="form-control">
                    <span class="text-danger" asp-validation-for="ProductionYear"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <label for="MovieName" class="col-md-4 col-form-label" asp-for="MovieName"></label>
                <div class="col-md-8">
                    <input asp-for="MovieName" class="form-control">
                    <span class="text-danger" asp-validation-for="MovieName"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <label for="DirectorName" class="col-md-4 col-form-label" asp-for="DirectorName"></label>
                <div class="col-md-8">
                    <input asp-for="DirectorName" class="form-control">
                    <span class="text-danger" asp-validation-for="DirectorName"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10 offset-md-1 text-start">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
