@model List<UserViewModel>
@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Email</th>
            <th>Telefon Numarası</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>