@* If there is User Information stored in the cookies, show the user button on the right side. *@
@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="SignedInUser" asp-action="Profile">Profil</a></li>
                <li><a class="dropdown-item" asp-controller="SignedInUser" asp-action="PasswordChange">Şifre Değiştir</a></li>
                <li><a class="dropdown-item" asp-controller="SignedInUser" asp-action="LogOut">Çıkış Yap</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <a class="btn btn-outline-success mx-1" asp-controller="Home" asp-action="SignIn">Giriş</a>
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Üye Ol</a>
}