@using System.Security.Claims
@using BalkanPanoramaFilmFestival.Models.Enums
@* If there is User Information stored in the cookies, show the user button on the right side. *@
@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="SignedInUser" asp-action="Profile">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="SignedInUser" asp-action="PasswordChange">Change Password</a></li>

                @* Only the users with role type of developer and admin can see the Admin Panel button  *@
                @if (User.HasClaim(c => c.Value == RoleTypes.developer.ToString()) 
                || User.HasClaim(c => c.Value == RoleTypes.admin.ToString()))
                {
                    <li><a class="dropdown-item" asp-area="admin" asp-controller="Home" asp-action="Index">Admin Panel</a></li>
                }

                <li><a class="dropdown-item" asp-controller="SignedInUser" asp-action="LogOut">Sign Out</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <a class="btn btn-outline-success mx-1" asp-controller="Home" asp-action="SignIn">Sign In</a>
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Sign Up</a>
}